.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.60s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #abbfc8;
    transition: all 0.60s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      background: #abbfc8;
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      background: #abbfc8;
      transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: #2b2b2b;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.5s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: #444;
    transform: translate3d(0, 100%, 0);
    transition: all 0.5s ease-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
    .menu-branding .portrait {
      width: 250px;
      height: 250px;
      background: url("../img/retratoromulo1.jpg");
      border-radius: 50%;
      border: solid 3px #abbfc8; }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.5s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #FFF36D; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 270;
    color: #abbfc8;
    text-decoration: none;
    transition: all 0.60s ease-out; }
    .menu .nav-link:hover {
      color: #FFB627; }

.nav-item:nth-child(1) {
  transition-delay: 0.2s; }

.nav-item:nth-child(2) {
  transition-delay: 0.4s; }

.nav-item:nth-child(3) {
  transition-delay: 0.6s; }

.nav-item:nth-child(4) {
  transition-delay: 0.8s; }

* {
  box-sizing: border-box; }

body {
  background: #494b4a;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1; }
  body#bg-img {
    background: url(../img/curriculo1.jpg), center no-repeat;
    background-attachment: fixed;
    background-size: cover; }
    body#bg-img:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(73, 75, 74, 0.2); }

h1, h2, h3 {
  margin: 0;
  font-weight: 300; }
  h1.lg-heading, h2.lg-heading, h3.lg-heading {
    line-height: 1.5;
    font-size: 5rem; }
  h1.sm-heading, h2.sm-heading, h3.sm-heading {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0.5rem 2rem;
    background: rgba(94, 94, 94, 0.5); }

a {
  color: #abbfc8;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-secondary {
  color: #A3BAC3; }

main {
  padding: 4rem;
  min-height: calc(100vh - 60px); }
  main#home {
    overflow: hidden;
    padding: 1rem 4rem; }
    main#home .lg-heading {
      margin-top: 20vh; }
    main#home .icons {
      margin-top: 3rem; }
      main#home .icons a {
        padding: 0.4rem;
        transition: all 0.5s ease-out;
        color: #fff; }
        main#home .icons a:hover {
          color: #A3BAC3; }
  main#about {
    padding: 5rem 3rem; }
  main#summary .banner {
    max-width: 700px;
    background: #5e5e5e;
    border-radius: 2%;
    border: solid 3px #A3BAC3;
    margin: 50px auto 50px auto;
    margin-bottom: 1rem; }
  main#summary p {
    padding: 0 1rem;
    font-weight: 200;
    font-size: 1.3rem;
    line-height: 1.5; }

.about-info {
  display: grid;
  grid-gap: 25px;
  grid-template-areas: 'bioimage bio bio' 'job1 job2 job3';
  grid-template-columns: repeat(3, 1fr); }
  .about-info h3 {
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem 0; }
  .about-info hr {
    border: #A3BAC3 1px solid; }
  .about-info .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: #A3BAC3 3px solid; }
  .about-info .bio {
    font-weight: 200;
    grid-area: bio;
    font-size: 1.4rem;
    line-height: 1.5; }
  .about-info .job-1 {
    grid-area: job1; }
    .about-info .job-1 h3 {
      padding: 0.5rem 0.5rem; }
  .about-info .job-2 {
    grid-area: job2; }
    .about-info .job-2 h3 {
      padding: 0.5rem 0.5rem; }
  .about-info .job-3 {
    grid-area: job3; }
    .about-info .job-3 h3 {
      padding: 0.5rem 0.5rem; }
  .about-info .job {
    background: #5e5e5e;
    border-radius: 2%;
    border: solid 3px #A3BAC3; }

.boxes {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center; }
  .boxes div {
    font-size: 2rem;
    border: 3px #A3BAC3 solid;
    padding: 0.5rem 2rem;
    margin-bottom: 3rem;
    transition: all 0.5s ease-out; }
    .boxes div:hover {
      padding: 0.5rem 1rem;
      background: #3B252C; }

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #2b2b2b;
  height: auto; }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  main#about {
    padding: 2rem 7rem;
    align-items: center; }
    main#about .lg-heading {
      margin-top: 2vh;
      font-size: 5rem; }
    main#about .about-info {
      grid-template-areas: 'bioimage' 'bio' 'job1' 'job2' 'job3';
      grid-template-columns: 1fr; }
  main#summary p {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    line-height: 1.2; }
  main#contact .boxes {
    display: flex;
    flex-direction: column;
    align-items: center; }
  #main-footer {
    line-height: 1.5rem;
    height: auto; } }

@media screen and (max-width: 768px) {
  ul.menu-nav, div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show, div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    justify-content: flex-start;
    padding-top: 7rem;
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 20px; }
  .menu-branding {
    justify-content: center;
    height: 25vh;
    transform: translate3d(100%, 0, 0); }
    .menu-branding .portrait {
      background: url("../img/retratoromulo2.jpg");
      width: 150px;
      height: 150px; }
  main#home {
    align-items: center;
    text-align: center; }
    main#home .lg-heading {
      font-size: 3rem;
      line-height: 1;
      margin-bottom: 5rem; }
    main#home .sm-heading {
      font-size: 1.5rem;
      padding: 1rem 1rem; }
  main#about {
    padding: 2rem 4rem;
    align-items: center;
    margin-bottom: 3rem; }
    main#about .lg-heading {
      margin-top: 2vh;
      font-size: 5rem; }
    main#about .about-info {
      grid-template-areas: 'bioimage' 'bio' 'job1' 'job2' 'job3';
      grid-template-columns: 1fr; }
  #main-footer {
    position: relative;
    line-height: 1.5rem; } }

@media screen and (max-width: 500px) {
  .menu-btn {
    right: 20px; }
    .menu-btn .btn-line {
      width: 25px; }
  .menu-nav {
    padding: 3rem 2.5rem;
    height: 70vh; }
  .menu-branding {
    justify-content: center;
    height: 30vh; }
  .menu .nav-link {
    font-size: 25px; }
  main {
    padding: 4rem 1.7rem;
    padding-bottom: 1rem;
    align-items: center;
    font-weight: 150; }
    main .lg-heading {
      line-height: 1.2;
      margin-top: 2vh;
      font-size: 2rem; }
    main .sm-heading {
      padding: 0.5rem 0.5rem;
      line-height: 1.2;
      font-size: 1rem; }
    main#home {
      padding: 2rem; }
      main#home .lg-heading {
        margin-top: 20vh;
        margin-bottom: 5vh;
        font-size: 2.5rem; }
      main#home .sm-heading {
        font-size: 1.3rem;
        line-height: 2rem; }
      main#home .icons {
        margin-top: 5vh; }
    main#about {
      padding: 4rem 1.7rem;
      padding-bottom: 0rem; }
      main#about .lg-heading {
        font-size: 2rem; }
      main#about .about-info {
        grid-template-areas: 'bioimage' 'bio' 'job1' 'job2' 'job3';
        grid-template-columns: 1fr; }
        main#about .about-info hr {
          border: #A3BAC3 1px solid; }
        main#about .about-info .bio-image {
          background: url("../img/retratoromulo2.jpg");
          width: 150px;
          height: 150px;
          border: #A3BAC3 2px solid; }
        main#about .about-info .bio {
          font-size: 1rem; }
        main#about .about-info .job-1 {
          grid-area: job1; }
          main#about .about-info .job-1 h3 {
            font-size: 1rem;
            padding: 0.5rem 0.5rem; }
        main#about .about-info .job-2 {
          grid-area: job2; }
          main#about .about-info .job-2 h3 {
            font-size: 1rem;
            padding: 0.5rem 0.5rem; }
        main#about .about-info .job-3 {
          grid-area: job3; }
          main#about .about-info .job-3 h3 {
            font-size: 1rem;
            padding: 0.5rem 0.5rem; }
        main#about .about-info .job {
          background: #5e5e5e;
          border-radius: 2%;
          border: solid 1px #A3BAC3; }
    main#summary p {
      font-size: 1rem;
      padding: 0.5rem 1rem;
      line-height: 1.2; }
    main#contact {
      padding-bottom: 0rem; }
      main#contact .boxes {
        padding: 0rem 0rem;
        display: flex;
        flex-direction: column;
        align-items: center; }
        main#contact .boxes div {
          font-size: 1rem;
          border: 2px #A3BAC3 solid;
          padding: 1rem 1rem;
          margin-bottom: 2rem;
          transition: all 0.60s ease-out; }
          main#contact .boxes div:hover {
            padding: 0.5rem 0.7rem;
            background: #3B252C; }
  #main-footer {
    position: relative;
    padding: 0.5rem 0.5rem;
    font-size: 0.9rem;
    line-height: 1.5rem;
    font-weight: 50; } }

@media screen and (max-height: 415px) {
  .menu-btn .btn-line {
    width: 22px; }
  .menu {
    display: flex; }
    .menu-branding, .menu-nav {
      justify-content: center;
      display: flex;
      width: 100%;
      height: 100vh; }
    .menu-nav {
      padding: 0;
      transform: translate3d(0, -100%, 0); }
    .menu-branding {
      transform: translate3d(0, 100%, 0); }
      .menu-branding .portrait {
        width: 150px;
        height: 150px;
        background: url("../img/retratoromulo2.jpg");
        border-radius: 50%;
        border: solid 2px #abbfc8; }
    .menu .nav-link {
      font-size: 20px;
      padding: 1rem 0;
      font-weight: 200; } }
